* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 70pt;
  background-color: #fecccb;
}

._body {
  display: flex;
  width: 100%;
  height: 100%;
}
.content {
  background-color: #ffffcb;
  flex: 1;
}
.lSide {
  background-color: #feccff;
  min-width: 10%;
}
.rSide {
  width: 100pt;
  height: 100%;
  background-color: #ccffff;
}
.footer {
  background-color: #ccccfe;
  min-height: 5%;
  height: auto;
}
